body {
    margin: 0;
    background-image: url(images/backg.png);
}

div {
    width: 500px;
    margin: auto;
    padding-bottom: 5px;
}

.wrapper {
    width: 1024px;
    height: 1024px;
    margin: auto;
    font-size: 14px;
}

.header {
    font-family: Arial;
}

h2 {
    margin: 0;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}

img {
    border: 1px solid #8f8f8f;
}

.header_img {
    text-align: center;
}

span {
    color: #1f1f1f;
}

.content {
    border-top: 1px solid #c3c2c5;
}

h3 {
    color: #1f1f1f;
    padding-bottom: 5px;
}

.content p {
    padding-left: 40px;
    color: #3a3a3a
}

li {
    color: #3b3b3b;
    line-height: 20px;
    margin-left: -8px;
    padding-left: 5px;
}

a {
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    color: #0056d3;
}
